<div class="col-md-12">
    <div class="row">
        <h5 class="col">{{ticket.title}}</h5>
    </div>
    <div class="row inf">
        <div class="col-md-12">
            <span>Owner : </span><b></b>
        </div>
        <div class="col-md-12">
            <span>Created at : </span><b>{{ticket.createdAt}}</b>
        </div>
        <div class="col-md-12">
            <span>Status : </span><b>{{ticket.status}}</b>
        </div>
    </div>
    <div class="row desc mt-3">
        <div class="col-md-12">
            <b>Description : </b>
            <div>
                {{ticket.text}}
            </div>
        </div>
    </div>
</div>





