<div class="col-md-12">
    <div class="row">
        <h5 class="col">{{ticket?.title}}</h5>
    </div>
    <div class="row inf">
        <div class="col-md-12">
            <span>Owner : </span><b>{{ticket?.owner?.userName}}</b>
        </div>
        <div class="col-md-12">
            <span>Created at : </span><b>{{ticket?.createdAt?.toISOString()}}</b>
        </div>
        <div class="col-md-12">
            <span>Status : </span><b>{{ticket?.status}}</b>
        </div>
    </div>
    <div class="row desc mt-3">
        <div class="col-md-12">
            <b>Description : </b>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatum praesentium officia! Dolorum iure quibusdam ratione nostrum perspiciatis eaque modi repellendus minima, eos dolorem totam sint doloribus. Blanditiis, rerum quaerat.
            </div>
        </div>
    </div>
</div>





