<div class="col-md-12">
    <div class="row">
        <div class="photo"></div>
    </div>
    <div class="row ps-3 py-3">
        <div class="col-md-12 name"><b>{{user?.firstName}} {{user?.lastName}}</b></div>
        <div class="col-md-12 detail  my-2">
            <div class="row grey">
                <div class="col">{{this.isAdmin==true?"admin":"user"}}</div>
            </div>
            <div class="row" >
                <div class="col">
                    <span>Online</span>
                    <mat-icon id="status" class="ms-2">brightness_1</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="row ps-3">
        <!-- <div class="col-md-12" style="font-size:15px" [routerLink]="'/ticket/'+user?.id">
            <mat-icon  class="me-2 align-middle">visibility</mat-icon>
            <span class="me-2 align-middle" >{{currentUser?.id==user?.id?"my":"all"}} tickets</span>
        </div> -->
        <div class="col-md-12" (click) ="logout()" *ngIf="currentUser?.id==user?.id">
            <mat-icon  class="me-2 align-middle">lock</mat-icon>
            <span type="button"  class="align-middle">logout</span>
        </div>
    </div>
</div>