<div class="col-md-12">
    <div class="row">
        <div class="photo"></div>
    </div>
    <div class="row ps-3 py-4">
        <div class="col-md-12"><b>Mirana Carène</b></div>
        <div class="col-md-12 detail  my-2">
            <div class="row grey"><div class="col">User</div></div>
            <div class="row" >
                <div class="col">
                    <span>Online</span>
                    <mat-icon id="status" class="ms-2">brightness_1</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="row ps-3">
        <div class="col-md-12">
            <mat-icon  class="me-2 align-middle">lock</mat-icon>
            <span class="align-middle">logout</span>
        </div>
    </div>
</div>