@import url("~bootstrap/dist/css/bootstrap.css");
body{
    background: #f1d5d0;
}
.container{
    background: #ededed;
}
.bdr{
    border-right: 1px solid #dee2e6;
}
.bdb{
    border-bottom: 1px solid #dee2e6;
}

.bdt{
    border-top: 1px solid #dee2e6;
}
