<div class="row content px-2" >
    <div class="col-md-12  h">
        <div class="row pt-3 pb-2">
            <h5 class="col-md-10">Ticket 1</h5>
            <div class="col-md-2">
                <mat-icon [routerLink]="'detail/'+1" class="align-middle">info</mat-icon>
            </div>
        </div>
        <div class="row" >
            <b class="col-md-12">Description :</b>
            <i class="col-md-12 description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rem dignissimos veritatis amet nisi, tempore asperiores sunt? Sint, dolore maiores! Voluptatibus voluptas officia magni dolorem mollitia esse, nesciunt voluptatum dignissimos?
            </i>
        </div>
        <div class="row my-3">
            <div class="col">
                <mat-icon class="align-middle me-1 p-0">attach_file</mat-icon>
                <b class="align-middle me-1">4</b>
                <span class="align-middle"> attached file</span>
            </div>
        </div>
        <div class="row pb-3 mt-3">
            <div class="col-md-6">
                <div class="profil me-2"></div>
                <b style="font-size: 12px;">Carène</b>
            </div>
            <div class="col-md-6 date ps-0 text-end" >
                <mat-icon class="align-middle me-2">query_builder</mat-icon>
                <b class="align-middle">22-03-2022</b>
            </div>
        </div>
    </div>
</div>